.country-table-container {
    height: 15rem;
    overflow-y: scroll;
}

/*
.flag-image {
    border: 1px solid gray;
}
 */

/* FIXME: Just showing */
.flag-image-canvas {
    border: 1px solid gray;
    width: 16em !important;
    height: 9em !important;
}
